@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.inter {
	font-family: 'Inter', sans-serif;
}

.secular {
	font-family: 'Secular One', sans-serif;
}
.text-box {
	@apply bg-gray-800 text-gray-200;
}

.sidebarNav {
	@apply w-full inline-flex border-l-transparent border-l-8 hover:border-l-8 hover:border-l-indigo-200 hover:bg-slate-800 pl-4 py-3;
}

.wrapperStyle {
	@apply flex flex-row min-h-screen bg-gray-100 text-gray-800;
}

.mainStyle {
	@apply h-screen flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in bg-indigo-50;
}
/* bg-gradient-to-b from-indigo-900 via-purple-700 to-pink-600 */

.cardStyle {
	@apply w-fit bg-gray-900 text-white;
}

.background {
	background-image: #321674;
	background-image: radial-gradient(
			at 80% 0%,
			hsla(220, 96%, 17%, 1) 0,
			transparent 50%
		),
		radial-gradient(at 49% 98%, hsla(279, 94%, 13%, 1) 0, transparent 50%),
		radial-gradient(at 80% 100%, hsla(253, 50%, 28%, 1) 0, transparent 50%);
}
