@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;

	@apply back1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.inter {
	font-family: 'Inter', sans-serif;
}

.secular {
	font-family: 'Secular One', sans-serif;
}
.text-box {
	@apply bg-gray-800 text-gray-200;
}

.sidebarNav {
	@apply w-full inline-flex border-l-transparent border-l-8 hover:border-l-8 hover:border-l-indigo-200 hover:bg-slate-800 pl-4 py-3;
}

.wrapperStyle {
	@apply flex flex-row min-h-screen bg-gray-100 text-gray-800;
}

.mainStyle {
	@apply h-screen transition-all duration-150 ease-in  pb-12;
}

.cardStyle {
	@apply w-fit bg-gray-900 text-white;
}

.back1 {
	@apply bg-blue-nft-theme;
}
.back {
	@apply bg-gradient-to-r from-indigo-500 via-purple-700 to-pink-800 bg-no-repeat bg-fixed;
}

.background {
	background: linear-gradient(120deg, #fd61db 0%, #51003f 100%),
		linear-gradient(120deg, #0030ad 0%, #00071a 100%),
		linear-gradient(180deg, #000346 0%, #ff0000 100%),
		linear-gradient(60deg, #5f79ff 0%, #aa0014 100%),
		radial-gradient(100% 165% at 100% 100%, #ff00a8 0%, #00ff47 100%),
		radial-gradient(100% 150% at 0% 0%, #fff500 0%, #51d500 100%);
	background-blend-mode: overlay, color-dodge, overlay, overlay, difference,
		normal;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
