@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* overflow-y: scroll; */
	@apply backgroundT;
}

.background {
	@apply bg-blue-background;
}

.backgroundT {
	background-color: #07050f;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	--first-gradient-coords: -2% 37%;
	--second-gradient-coords: 99% 59%;
	background-image: radial-gradient(
			circle closest-corner at var(--second-gradient-coords),
			rgba(5, 172, 198, 0.3),
			transparent
		),
		radial-gradient(
			circle closest-corner at var(--first-gradient-coords),
			rgba(205, 20, 85, 0.4),
			transparent
		);
}

.navigationStyle {
	@apply max-w-screen-lg w-full mx-auto transition-all duration-150 ease-in;
}

.headerTop {
	@apply flex items-center content-center flex-row justify-between py-2 px-4 pt-5;
}

.viewSwitch {
	@apply max-w-md mx-auto bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-xl;
}

.viewSwitch-list {
	@apply flex p-1 space-x-1 bg-white/50 rounded-xl text-lg;
}

.viewSwitch-item {
	@apply flex-1 text-center py-2 font-bold text-xl text-blue-700 rounded-lg;
}

.viewSwitch-item-active {
	@apply bg-blue-nft-theme/40 text-blue-100;
}

.viewSwitch-item-inactive {
	@apply hover:bg-white/90;
}

.navigationArrow {
	@apply text-white/80 hover:text-white/90 text-3xl rounded-full border border-white p-1;
}
